In [1]:
!pip install --upgrade dtale #downloading dtale

Requirement already up-to-date: dtale in /usr/local/lib/python3.6/dist-packages (1.16.0)
Requirement already satisfied, skipping upgrade: Flask>=1.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.2)
Requirement already satisfied, skipping upgrade: Flask-Compress in /usr/local/lib/python3.6/dist-packages (from dtale) (1.6.0)
Requirement already satisfied, skipping upgrade: statsmodels in /usr/local/lib/python3.6/dist-packages (from dtale) (0.10.2)
Requirement already satisfied, skipping upgrade: six in /usr/local/lib/python3.6/dist-packages (from dtale) (1.15.0)
Requirement already satisfied, skipping upgrade: dash-bootstrap-components; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from dtale) (0.10.7)
Requirement already satisfied, skipping upgrade: dash>=1.5.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (1.16.2)
Requirement already satisfied, skipping upgrade: pandas in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.2)
Requirement already satisfied, skipping upgrade: flask-ngrok; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from dtale) (0.0.25)
Requirement already satisfied, skipping upgrade: scikit-learn>='0.21.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (0.22.2.post1)
Requirement already satisfied, skipping upgrade: xarray in /usr/local/lib/python3.6/dist-packages (from dtale) (0.15.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from dtale) (2.23.0)
Requirement already satisfied, skipping upgrade: dash-daq in /usr/local/lib/python3.6/dist-packages (from dtale) (0.5.0)
Requirement already satisfied, skipping upgrade: squarify in /usr/local/lib/python3.6/dist-packages (from dtale) (0.4.3)
Requirement already satisfied, skipping upgrade: itsdangerous in /usr/local/lib/python3.6/dist-packages (from dtale) (1.1.0)
Requirement already satisfied, skipping upgrade: lz4; python_version > "3.0" in /usr/local/lib/python3.6/dist-packages (from dtale) (3.1.0)
Requirement already satisfied, skipping upgrade: future>=0.14.0 in /usr/local/lib/python3.6/dist-packages (from dtale) (0.16.0)
Requirement already satisfied, skipping upgrade: scipy in /usr/local/lib/python3.6/dist-packages (from dtale) (1.4.1)
Requirement already satisfied, skipping upgrade: dash-colorscales in /usr/local/lib/python3.6/dist-packages (from dtale) (0.0.4)
Requirement already satisfied, skipping upgrade: Werkzeug>=0.15 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (1.0.1)
Requirement already satisfied, skipping upgrade: Jinja2>=2.10.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (2.11.2)
Requirement already satisfied, skipping upgrade: click>=5.1 in /usr/local/lib/python3.6/dist-packages (from Flask>=1.0->dtale) (7.1.2)
Requirement already satisfied, skipping upgrade: brotli in /usr/local/lib/python3.6/dist-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied, skipping upgrade: numpy>=1.11 in /usr/local/lib/python3.6/dist-packages (from statsmodels->dtale) (1.18.5)
Requirement already satisfied, skipping upgrade: patsy>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from statsmodels->dtale) (0.5.1)
Requirement already satisfied, skipping upgrade: dash-core-components==1.12.1 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (1.12.1)
Requirement already satisfied, skipping upgrade: dash-table==4.10.1 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (4.10.1)
Requirement already satisfied, skipping upgrade: dash-renderer==1.8.2 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (1.8.2)
Requirement already satisfied, skipping upgrade: dash-html-components==1.1.1 in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (1.1.1)
Requirement already satisfied, skipping upgrade: plotly in /usr/local/lib/python3.6/dist-packages (from dash>=1.5.0->dtale) (4.4.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->dtale) (2018.9)
Requirement already satisfied, skipping upgrade: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>='0.21.0->dtale) (0.16.0)
Requirement already satisfied, skipping upgrade: setuptools>=41.2 in /usr/local/lib/python3.6/dist-packages (from xarray->dtale) (50.3.0)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (2.10)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (2020.6.20)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->dtale) (1.24.3)
Requirement already satisfied, skipping upgrade: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from Jinja2>=2.10.1->Flask>=1.0->dtale) (1.1.1)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->dash>=1.5.0->dtale) (1.3.3)

In [1]:
#importing libraries
import pandas as pd
import dtale

In [2]:
#dataset - https://www.kaggle.com/sudalairajkumar/novel-corona-virus-2019-dataset
data = pd.read_csv(r'/content/matches.csv') # to read data
print(data.head(10))

   id    Season       city  ...         umpire1        umpire2 umpire3
0   1  IPL-2017  Hyderabad  ...     AY Dandekar       NJ Llong     NaN
1   2  IPL-2017       Pune  ...  A Nand Kishore         S Ravi     NaN
2   3  IPL-2017     Rajkot  ...     Nitin Menon      CK Nandan     NaN
3   4  IPL-2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
4   5  IPL-2017  Bangalore  ...             NaN            NaN     NaN
5   6  IPL-2017  Hyderabad  ...      A Deshmukh       NJ Llong     NaN
6   7  IPL-2017     Mumbai  ...     Nitin Menon      CK Nandan     NaN
7   8  IPL-2017     Indore  ...    AK Chaudhary  C Shamshuddin     NaN
8   9  IPL-2017       Pune  ...     AY Dandekar         S Ravi     NaN
9  10  IPL-2017     Mumbai  ...     Nitin Menon      CK Nandan     NaN

[10 rows x 18 columns]

In [3]:
data.describe()

                 id  dl_applied  win_by_runs  win_by_wickets
count    756.000000  756.000000   756.000000      756.000000
mean    1792.178571    0.025132    13.283069        3.350529
std     3464.478148    0.156630    23.471144        3.387963
min        1.000000    0.000000     0.000000        0.000000
25%      189.750000    0.000000     0.000000        0.000000
50%      378.500000    0.000000     0.000000        4.000000
75%      567.250000    0.000000    19.000000        6.000000
max    11415.000000    1.000000   146.000000       10.000000

In [5]:
import dtale.app as dtale_app

dtale_app.USE_COLAB = True

In [6]:
dtale.show(data, ignore_duplicate=True)

https://9le0b9u5ivk-496ff2e9c6d22116-40000-colab.googleusercontent.com/dtale/main/2